@import "lib/bruce-lee/grid.styl"
@import "lib/nib/index.styl"
@import "lib/mohu-mixins/index.styl"

////////////
// LAYOUT //
////////////

_totalWidth = 320px

body
    width _totalWidth

// header
header#top
    margin-bottom 1em
    background #000
    h1
        font-size 2em
        color white
        margin 0
        padding 20px

// main column & sidebar
#maincolumn
    column(9)
    background #ffcc00
    ul
        strip-list()
        clearfix()
        background #000
        li
            column(3)
            background #990000
            img
                width 100%
#sidebar
    column(3)
    background #ccc

@media screen and (max-width: 720px)
    #maincolumn,
    #sidebar
        column(12)
        margin-bottom 1em