// Defaults -- for now don't change these - unstable
_columnWidth = 4.6666666667% // percent
_outerGutter = 3.125% // percent
_innerGutter = 4% // percent
_columns = 12

// Utility variable — you should never need to modify this
//_gridSystemWidth = (_columnWidth * _columns) + (_gutterWidth * _columns) * 1px

// Set _totalWidth to 100% for a fluid layout
//_totalWidth = _gridSystemWidth
_totalWidth = 100%

//////////
// GRID //
//////////

body
  width 100%
  clearfix()

grid-container()
  display block
  width 100% - (_outerGutter * 2)
  margin-right _outerGutter
  margin-left _outerGutter
  clearfix()

grid()
  clearfix()
  striplist()
  margin-left (_innerGutter * -1) !important
  width (_columnWidth * _columns) + (_innerGutter * _columns)

column(_x = 6)
  display inline
  float left
  _hundred = 100% * 0.9549824541265315436
  width (_hundred / (_columns / _x)) - (_innerGutter * ((_columns / _x) - 1))%
  margin-left _innerGutter !important
  margin-bottom _innerGutter !important

//push(_offset = 1)
//  margin-left _totalWidth * (((_gutterWidth + _columnWidth) * _offset) / _gridSystemWidth) + _totalWidth * ((_gutterWidth * .5) / _gridSystemWidth)

//pull(_offset = 1)
//  margin-right _totalWidth * (((_gutterWidth + _columnWidth) * _offset) / _gridSystemWidth) + _totalWidth * ((_gutterWidth * .5) / _gridSystemWidth)